@model IEnumerable<MyField.Models.Competition>

@{
    ViewData["Title"] = "Competition Leaderboard";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}

<br />
@await Html.PartialAsync("_HomeButton")
<h4 style="text-align:center;">Diski360 Competitions</h4>
<br />
@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-striped table-borderless">
            <thead>
                <tr style="color:white;background-color: #324260; white-space: nowrap;">
                    <th>
                        Round
                    </th>
                    <th>
                        Number of participants
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Announced Winner
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
 
                    <tr class="column-max-width" style="max-width: 400px;">
                        <td class="column-max-width">
                            @item.Month.ToString("MMMM")
                        </td>
                        <td class="column-max-width">
                            @Html.DisplayFor(modelItem => item.NumberOfParticipants)
                        </td>
                        <td class="column-max-width">
                            @Html.DisplayFor(modelItem => item.CompetitionStatus)
                        </td>
                        <td class="column-max-width">
                            @Html.DisplayFor(modelItem => item.Winner.FirstName) @Html.DisplayFor(modelItem => item.Winner.LastName) (@Html.DisplayFor(modelItem => item.Winner.PhoneNumber)/ @Html.DisplayFor(modelItem => item.Winner.Email))
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="d-flex justify-content-center align-items-center" style="height: 60vh; flex-direction: column;">
        <p class="text-center" style="margin-top: 20vh;">There are no competition participants</p>
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".clubs-table tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    setTimeout(function () {
        document.getElementById("tempDataMessage").style.display = "none";
    }, 5000);
</script>