@model MyField.ViewModels.ClubSummaryViewModel

<br />
<br />

<div class="text-center">
    @if (Model.Club != null)
    {
        <img src="~/@Model.Club.ClubBadge" alt="@Model.Club.ClubName" class="club-summary-image mb-4" style="max-width: 200px;" />
    }
    else if (Model.TournamentClub != null)
    {
        <img src="~/@Model.TournamentClub.ClubBadge" alt="@Model.TournamentClub.ClubName" class="club-summary-image mb-4" style="max-width: 200px;" />
    }
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="pane">
                <h4>Manager</h4>
                <dl class="dl-horizontal">
                    <dd>
                        @if (Model.Club != null && Model.Club.ClubManager != null && !Model.Club.ClubManager.IsDeleted)
                        {
                            <span>@Model.Club.ClubManager.FirstName</span> <span>@Model.Club.ClubManager.LastName</span>
                        }
                        else if (Model.TournamentClub != null)
                        {
                            <span>@Model.TournamentClub.ClubManagerName</span>
                        }
                        else
                        {
                            <p>This club does not have a manager.</p>
                        }
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pane">
                <h4>History</h4>
                <dl class="dl-horizontal">
                    <dd>
                        @if (Model.Club != null)
                        {
                            @Html.DisplayFor(m => m.Club.ClubHistory)
                        }
                        else if (Model.TournamentClub != null)
                        {
                            @Html.DisplayFor(m => m.TournamentClub.ClubHistory)
                        }
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-md-4">
            <div class="pane">
                <h4>Summary</h4>
                <dl class="dl-horizontal">
                    <dd>
                        @if (Model.Club != null)
                        {
                            @Html.DisplayFor(m => m.Club.ClubSummary)
                        }
                        else if (Model.TournamentClub != null)
                        {
                            @Html.DisplayFor(m => m.TournamentClub.ClubSummary)
                        }
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
