@model MyField.Models.Tournament

@{
    ViewData["Title"] = Model.TournamentName + " Details";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}

<div class="club-header-container">
    <br />
    @await Html.PartialAsync("_HomeButton")
    <br />
    <div class="d-flex align-items-center">
        <i class="fa fa-trophy" style="color:goldenrod; font-size:60px; padding-right:10px;"></i><h3>@Model.TournamentName</h3>
    </div>
    <br />
    <ul class="nav nav-tabs" id="clubTabs" role="tablist" style="background-color:white; color:black;">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="clubs-tab" data-bs-toggle="tab" data-bs-target="#clubs" type="button" role="tab" aria-controls="clubs" aria-selected="true" onclick="loadTab('clubs', '@Model.TournamentId')">Clubs</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="fixtures-tab" data-bs-toggle="tab" data-bs-target="#fixtures" type="button" role="tab" aria-controls="fixtures" aria-selected="false" onclick="loadTab('fixtures', '@Model.TournamentId')">Fixtures</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="knockout-tab" data-bs-toggle="tab" data-bs-target="#knockout" type="button" role="tab" aria-controls="knockout" aria-selected="false" onclick="loadTab('knockout', '@Model.TournamentId')">Knockout</button>
        </li>
    </ul>
</div>


<div class="tab-content">
    <div class="tab-pane fade show active" id="clubs" role="tabpanel" aria-labelledby="clubs-tab"></div>
    <div class="tab-pane fade" id="fixtures" role="tabpanel" aria-labelledby="fixtures-tab"></div>
    <div class="tab-pane fade" id="knockout" role="tabpanel" aria-labelledby="knockout-tab"></div>
</div>

<script>

    function loadTab(tabName, clubId) {

        document.querySelectorAll('.nav-link').forEach(function (element) {
            element.classList.remove('active');
        });

        document.getElementById(tabName + '-tab').classList.add('active');

        document.querySelectorAll('.tab-pane').forEach(function (element) {
            element.classList.remove('show', 'active');
        });

        document.getElementById(tabName).classList.add('show', 'active');

        var url;
        if (tabName === 'clubs') {
            url = '@Url.Action("ClubSummary", "Clubs")';
        } else if (tabName === 'fixtures') {
            url = '@Url.Action("ClubPlayers", "Clubs")';
        } else if (tabName === 'knockout') {
            url = '@Url.Action("HeadtoHead", "Clubs")';
        } 

        $.ajax({
            url: url,
            type: 'GET',
            data: { tab: tabName, clubId: clubId },
            success: function (data) {
                $('#' + tabName).html(data);

            },
            error: function (xhr, textStatus, errorThrown) {
                console.error("Error:", errorThrown);
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        loadTab('clubs', '@Model.TournamentId');
    });
</script>



