 @model MyField.ViewModels.TournamentDetailsViewModel
 @inject MyField.Interfaces.IEncryptionService encryptionService


@{
    ViewData["Title"] = Model.TournamentName;
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
    var encryptedTournamentId = encryptionService.Encrypt(Model.TournamentId);
}

 <br />
 @await Html.PartialAsync("_BackButton")
 <h4 class="text-center">@Model.TournamentName</h4>
 <div class="tournament-update-container d-flex">
         <div class="row flex-grow-1">
        <div class="col-12 col-lg-6 division-add-form-container">
            <div class="mb-3">
                <div class="profile-container">
                    <div class="tournament-image-container">
                        <img src="@Url.Content("~/"+ Model.TournamentImage)"
                             alt="@Model.TournamentName"
                             class="tournament-picture-image" />
                    </div>
                </div>
            </div>
        </div>


             <div class="col-12 col-lg-6 division-add-form-container">
                 <hr />
                 <h5 class="text-center">Tournament Details</h5>
                 <hr />
                 <br />
            <div class="mb-3">
                <label><strong>Name:</strong> @Model.TournamentName</label>
            </div>
            <div class="mb-3">
                <label><strong>Description:</strong> @Model.TournamentDescription</label>
            </div>
                        <div class="mb-3">
                <label><strong>Location:</strong> @Model.TournamentLocation</label>
            </div>
            <div class="mb-3">
                <label><strong>Number of Teams:</strong> @Model.NumberOfTeams</label>
            </div>
                        <div class="mb-3">
                <label><strong>Joining Fee:</strong> @Model.JoiningFee</label>
            </div>
                        <div class="mb-3">
                <label><strong>Joining Due Date:</strong> @Model.JoiningDueDate.ToString("ddd, dd/MM/yyyy")</label>
            </div>
            <div class="mb-3">
                <label><strong>Start Date:</strong> @Model.StartDate.ToString("ddd, dd/MM/yyyy")</label>
            </div>
            <hr />
            <h5 class="text-center">Sponsor Details</h5>
            <hr />
            <br />
                        <div class="mb-3">
                <label><strong>Sponsor Name:</strong> @Model.SponsorName</label>
            </div>
            <div class="mb-3">
                <label><strong>Sponsorship:</strong> @Model.Sponsorship</label>
            </div>
                        <div class="mb-3">
                <label><strong>Sponsor Contacts:</strong> @Model.SponsorContactDetails</label>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" style="display: flex; justify-content: flex-end;">
                            <a href="@Url.Action("UpdateTournament", "Tournaments",  new { tournamentId = encryptedTournamentId })" class="btn btn-outline-primary">
                                <i class="fa fa-pen"></i> Update
                            </a>
                        </div>
                    </div>
                </div>
         </div>
 </div>



