@model IEnumerable<MyField.Models.Division>

@inject MyField.Interfaces.IEncryptionService encryptionService

@{
    ViewData["Title"] = "Diski360 Divisions";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}


<br />
@await Html.PartialAsync("_HomeButton")
<br />
<h4 class="text-center">Diski360 Divisions</h4>
<br />
@if (Model.Any())
{
    <p class="text-center" style="padding-right:10px; padding-left:10px;">
        On this page, you are viewing the divisions under your management. You have full access to manage these divisions, including the ability to activate, deactivate, or suspend them as needed.
    </p>
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-borderless clubs-table">
            <thead>
                <tr style="color:white;background-color: #324260; white-space: nowrap;">
                    <th style="white-space: nowrap;">Division name</th>
                    <th style="white-space: nowrap;">Type</th>
                    <th style="white-space: nowrap;">Has paid?</th>
                    <th style="white-space: nowrap;">Status</th>
                    <th style="white-space: nowrap;">More Info.</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var encryptedDivisionId = encryptionService.Encrypt(item.DivisionId);

                    <tr>
                        <td class="column-max-width">
                            @Html.DisplayFor(modelItem => item.DivisionName) (@Html.DisplayFor(modelItem => item.DivisionAbbr))
                        </td>
                        <td style="white-space: nowrap;">
                            @Html.DisplayFor(modelItem => item.DivisionType)
                        </td>
                        <td class="column-max-width">
                            @if(item.HasPaid == true)
                            {
                                <text>Paid</text>
                            }
                            else
                            {
                                <text>Not paid</text>
                            }
                        </td>
                        <td class="column-max-width">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td class="text-right">
                            <button class="btn btn-primary btn-sm action-button" type="button" data-id="@item.DivisionId">
                                Actions
                            </button>
                            <div class="action-tab" id="actionTab-@item.DivisionId" style="display: none;">
                                <a class="tab-item" href="@Url.Action("DivisionDetails", "Divisions", new { divisionId = encryptedDivisionId })">
                                    <i class="fas fa-info-circle" style="color: blue;"></i> More
                                </a>
                                <a class="tab-item" href="@Url.Action("DeactivateDivision", "Divisions", new { divisionId = encryptedDivisionId })">
                                    <i class="fas fa-pause" style="color: red;"></i> Deactivate
                                </a>
                                <a class="tab-item" href="@Url.Action("ActivateDivision", "Divisions", new { divisionId = encryptedDivisionId })">
                                    <i class="fas fa-play" style="color: green;"></i> Activate
                                </a>
                                <a class="tab-item" href="@Url.Action("SuspendDivision", "Divisions", new { divisionId = encryptedDivisionId })">
                                    <i class="fas fa-ban" style="color: red;"></i> Suspend
                                </a>
                                <a class="tab-item" href="@Url.Action("UnsuspendDivision", "Divisions", new { divisionId = encryptedDivisionId })">
                                    <i class="fas fa-play" style="color: green;"></i> Unsuspend
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="d-flex justify-content-center align-items-center" style="height: 60vh; flex-direction: column;">
        <p class="text-center">There are no participating clubs yet.</p>
    </div>
}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".clubs-table tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    setTimeout(function () {
        document.getElementById("tempDataMessage").style.display = "none";
    }, 5000);
</script>
