@model MyField.ViewModels.ReviewOnboardingRequestViewModel
@inject MyField.Interfaces.IEncryptionService encryptionService
@{
    ViewData["Title"] = "Review Onboarding Request";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
    var encryptedRequestId = encryptionService.Encrypt(Model.RequestId);
}

<head>
    <style>
        .review-request-row {
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            padding: 6px 0;
            width: 100%;
        }

        .review-request-label {
            font-weight: bold;
            color: #222;
            min-width: 130px;
            margin-right: 8px;
            text-align: left;
        }

        .review-request-value {
            color: #555;
            flex-grow: 1;
            text-align: left;
            margin-left: 0;
            padding-left: 0;
        }
    </style>
</head>

<br />
@await Html.PartialAsync("_BackButton")
<br />
<h4 class="text-center">Onboarding Request Review (Ref No. #@Model.RefenceNumber)</h4>
<br />
<p class="text-center" style="padding-right:10px; padding-left:10px;">
    You are currently in the process of reviewing an onboarding request submitted to the Diski360 organization. This request requires your careful consideration, as it involves the formal entry of a new entity or individual into our system. You have the authority to either approve or reject this request based on the details provided. If you choose to approve the request, it will move forward in the onboarding process, and a formal contract will be generated and sent to the applicant. Conversely, if you decide to reject the request, the onboarding process will be halted. In either case, your decision will be promptly communicated via email to all relevant parties to ensure transparency and clarity in the process.
</p>
<br />
<p class="text-center" style="padding-right:10px; padding-left:10px;">
    <strong>Status:</strong>@Model.RequestStatus
</p>
<p class="text-center" style="padding-right:10px; padding-left:10px;">
    <strong>Received on:</strong>@Model.RequestDate
</p>
<br />
<div class="division-add-container d-flex">
        <div class="row flex-grow-1">
            <div class="col-12 col-lg-6 division-add-form-container">
                <h5 class="text-center">Division Details</h5>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <div class="profile-container">
                        <div class="club-badge-container" style="border: 1px solid #ccc; padding: 0; border-radius: 5%; width: 150px; height: 150px; overflow: hidden; position: relative;">
                            <img src="~/@Model.DivisionBadge" alt="@Model.DivisionAbbr" class="club-picture-image" style="width: 100%; height: 100%; object-fit: cover;" />
                        </div>
                    </div>
                </div>


            <div class="review-request-row">
                <span class="review-request-label">Division type:</span>
                <span class="review-request-value ">@((Model.DivisionType))</span>
            </div>

            <div class="review-request-row">
                <span class="review-request-label">Division name:</span>
                <span class="review-request-value ">@((Model.DivisionName))</span>
            </div>

            <div class="review-request-row">
                <span class="review-request-label">Division address:</span>
                <span class="review-request-value ">@((Model.Address))</span>
            </div>

            </div>

            <div class="col-12 col-lg-6 division-add-form-container">
                <h5 class="text-center">Division Manager Details</h5>

            <div class="review-request-row">
                <span class="review-request-label">Manager name(s):</span>
                <span class="review-request-value ">@((Model.ManagerFirstName))</span>
            </div>

            <div class="review-request-row">
                <span class="review-request-label">Manager surname:</span>
                <span class="review-request-value ">@((Model.ManagerLastName))</span>
            </div>

            <div class="review-request-row">
                <span class="review-request-label">Date of Birth:</span>
                <span class="review-request-value ">@(Model.DateOfBirth.ToString("dd/MM/yyy"))</span>
            </div>

            <div class="review-request-row">
                <span class="review-request-label">Email address:</span>
                <span class="review-request-value ">@(Model.ManagerEmail)</span>
            </div>


            <div class="review-request-row">
                <span class="review-request-label">Phone number:</span>
                <span class="review-request-value ">@(Model.ManagerPhoneNumber)</span>
            </div>

                <div class="d-flex justify-content-end">
                @if(Model.RequestStatus == RequestStatus.Approved)
                {
                    <div class="col-auto">
                        <a href="@Url.Action("OnboardDivisionAndManager", new { requestId = encryptedRequestId })" class="btn btn-primary">
                            <i class="fa fa-plus"></i> Onboard
                        </a>
                    </div>
                    <div class="col-auto ms-2">
                        <form asp-action="RejectRequest" asp-route-requestId="@encryptedRequestId" method="post">
                            <button type="submit" class="btn btn-danger"><i class="fa fa-times"></i> Reject</button>
                        </form>
                    </div>
                }
                else if (Model.RequestStatus == RequestStatus.Pending || Model.RequestStatus == RequestStatus.Rejected)
                {
                    <div class="col-auto">
                        <form asp-action="ApproveRequest" asp-route-requestId="@encryptedRequestId" method="post">
                            <button type="submit" class="btn btn-success"><i class="fa fa-check-circle"></i> Approve</button>
                        </form>
                    </div>
                    <div class="col-auto ms-2">
                        <form asp-action="RejectRequest" asp-route-requestId="@encryptedRequestId" method="post">
                            <button type="submit" class="btn btn-danger"><i class="fa fa-times"></i> Reject</button>
                        </form>
                    </div>
                }
                else
                {
                    
                }
            </div>
        </div>
</div>
